<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <div>
      <% if (users.length===0) {%>
      <div>
        <h1>No users found</h1>
      </div>
      <% }else{ %>
      <div>
        <% for (let user of users) { %>
        <ul>
          <li style="display: inline-block, list-style-type= square">
            <p><%= user.username %></p>
            <p><%= user.phone %></p>
            <p><%= user.password %></p>
            <form action="/deleteUser/<%= user.id%>" method="post">
              <button>Delete</button>
            </form>
          </li>
        </ul>
        <% } %>
      </div>
      <% } %>
    </div>
  </body>
</html>
